@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white;
  overflow-x: hidden;
  max-width: 100vw;
}

.min-h-screen {
  min-height: 89vh
}

/* Global Scrollbar Styling */

/* scrollbar width */
::-webkit-scrollbar {
  width: 4px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
  background: #f3f3f3;
}

/* scrollbar thumb (the slider) */
::-webkit-scrollbar-thumb {
  background-color: #fb8e28;
  /* ORANGE */
  border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #f77f1d;
}

@layer utilities {
  @keyframes pulse-subtle {

    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }

    50% {
      opacity: 0.95;
      transform: scale(1.005);
    }
  }

  .animate-pulse-subtle {
    animation: pulse-subtle 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes bounce-subtle {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-3px);
    }
  }

  .animate-bounce-subtle {
    animation: bounce-subtle 2s ease-in-out infinite;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #FF7B1D;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #E66A0D;
  }
}