@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}
/* Global Scrollbar Styling */

/* scrollbar width */
::-webkit-scrollbar {
  width: 4px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
  background: #f3f3f3;
}

/* scrollbar thumb (the slider) */
::-webkit-scrollbar-thumb {
  background-color: #fb8e28;   /* ORANGE */
  border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #f77f1d;
}
